@import url('./reset.css');
@import url('./fonts/fonts.css');

:root {
   --accent-color-: #18cfab;
}

* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   line-height: 30px;
   color: #717171;
   overflow-x: hidden;
}

.container {
   width: 1160px;
   margin: 0 auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* Buttons */

.btn {
   color: #fff;
   font-weight: 700;
   font-size: 15px;
   line-height: 60px;
   text-transform: uppercase;
   text-align: center;
   border-radius: 5px;
   min-height: 60px;
   min-width: 165px;
   background-color: var(--accent-color-);
   display: inline-block;
   transition: all 0.5s ease;
}

.btn-shadow {
   box-shadow: 0 -5px #fff;
}

.btn:hover {
   color: var(--accent-color-);
   background-color: #fff;
   box-shadow: 3px 3px 3px 3px var(--accent-color-);
}


.header__buttons {
   margin-top: 122px;
   margin-bottom: 243px;
}

.main-desc__btn--blue {
   margin-left: 28px;
   background: #00CBF6;
}

.main-desc__btn--blue:hover {
   color: #00CBF6;
   background-color: #fff;
   box-shadow: 3px 3px 3px 3px #00CBF6;
}

/* sections */

.section-title {
   font-size: 36px;
   line-height: 40px;
   color: #4E4E4E;
   position: relative;
   text-align: center;
}


.section-title::before, .section-title::after {
   content: '';
   position: absolute;
   width: 75px;
   height: 1px;
   background-color: var(--accent-color-);
}

.section-title::before {
   bottom: -26px;
   left: calc(50% - 45px);
}

.section-title::after {
   bottom: -30px;
   right: calc(50% - 45px);
}


.subtitle {
   font-size: 16px;
   line-height: 40px;
}

/* header */

.header {
   width: 100vw;
   background-size: cover;
   background: url("../img/Sections background/section-1(header).jpg") no-repeat fixed;
   display: flex;
   flex-direction: column;
   margin-bottom: 14px;
}


.header__top {
   background: rgba(94, 93, 88, 0.6);
}

.header__top-inner {
   min-height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}


.logo__link {
   display: flex;
   align-items: center;
}

.logo__link::before {
   content: "H";
   position: absolute;
   font-size: 40px;
   line-height: 31px;
   font-weight: 700;
   color: #fff;
   left: 13px;
   top: 45px;
}

.logo__img {
   margin-right: 7px;
}

.logo__text {
   font-size: 32px;
   line-height: 48px;
   color: #fff;
}

.logo__text--bold {
   font-weight: 700;
   color: var(--accent-color-);
}

/* menu */

.header__menu {
   display: flex;
   align-items: center;
}

.menu {
   display: flex;
   margin-right: 28px;
}

.menu__item+.menu__item {
   margin-left: 25px;
}

.menu__link {
   color: rgba(255, 255, 255, 0.6);
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1;
   padding: 49px 0;
   border-bottom: 2px solid transparent;
   transition: color 0.3s ease-in-out;
}

.menu__link:hover {
   color: var(--accent-color-);
   border-bottom: 2px solid var(--accent-color-);
}

.menu__search-link {
   padding: 42px 0;
   border-bottom: 2px solid transparent;
   transition: color 0.3s ease-in-out;
}

.menu__search-link:hover {
   border-bottom: 2px solid var(--accent-color-);
}

.search-icon {
   margin-top: 3px;
}

.menu__search-link:hover path {
   fill: var(--accent-color-);
   fill-opacity: 1;
   transition: .3s;
}


.header__bottom {
   margin-top: 251px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   justify-content: center;
}

.main-desc {
   text-align: center;
}

.main-desc__title, .main-desc__slogan {
   text-align: center;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}

.main-desc__title {
   margin-bottom: 22px;
   font-size: 35px;
}

.main-desc__title--colored {
   color: var(--accent-color-);
}

.main-desc__slogan {
   font-size: 78px;
   line-height: 80px;
   margin-bottom: 22px;
}

.main-desc__subtitle {
   font-size: 34px;
   line-height: 38px;
   color: #D4D4D4;
   text-transform: capitalize;
}



/* features */

.features {
   margin-bottom: 8px;
}

.features__list {
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 360px;
}

.features__item {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   padding-top: 235px;
   text-transform: uppercase;
   text-align: center;
   display: flex;
   justify-content: center;
}

.features__item:nth-child(even) {
   background-color: var(--accent-color-);
   color: #fff;
   background-position: center 97px;
}

.features__item:nth-child(odd) {
   background-color: #1C2A33;
   color: var(--accent-color-);
   background-position: center 86px;
}

.feature--option {
   background: url('../img/Icons/feature-option.svg') no-repeat;
}

.feature--customize {
   background: url('../img/Icons/feature-customize.svg') no-repeat;
}

.feature--support {
   background: url('../img/Icons/feature-support.svg') no-repeat;
}

.feature--devices {
   background: url('../img/Icons/feature-devices.svg') no-repeat;
}

/* services */

.services {
   margin-top: 92px;
   margin-bottom: 91px;
}

.services__title {
   margin-bottom: 100px;
}

.services__titles-list {
   display: flex;
   margin-bottom: 28px;

}

.service-title {
   flex-grow: 1;
   flex-basis: 0;
   background: #F8FCFE;
   border: 1px solid #EDEFEF;
   transition: .3s;

}
.service-title a{
   color: #717171;
}

.service-title.service--active a{
   color: #fff;
}

.service__title-text {
   display: block;
   width: 100%;
   text-align: center;
   line-height: 73px;
}

.service-title:hover {
   border: 1px solid var(--accent-color-);
}

.service-title.service--active {
   background-color: var(--accent-color-);
   border: 1px solid var(--accent-color-);
   color: #fff;
   position: relative;
}

.service-title.service--active::after {
   content: '';
   width: 24px;
   height: 12px;
   position: absolute;
   bottom: -10px;
   left: calc(50% - 12px);
   background: url('../img/Icons/service-arrow.svg') no-repeat;
}

.service-text {
   display: none;
}

.service-text__img {
   object-fit: cover;
   object-position: center;
   width: 192px;
   height: 139px;
   margin-right: 15px;
}

.services__texts-list .service--active {
   display: flex;
}

.service-text__content {
   line-height: 24px;
   font-weight: 300;
   color: #777;
}

/* lead */

.lead {
   background: rgba(28, 42, 51, 0.79) url('../img/Sections background/section-2.jpg') no-repeat fixed center 35%;
   background-blend-mode: multiply;
   width: 100%;
   padding: 128px 0;
   text-align: center;
}

.lead__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 40px;
   text-transform: uppercase;
   color: var(--accent-color-);
   text-align: center;
   margin-bottom: 12px;
}

.lead__subtitle {
   margin-bottom: 68px;
   color: #d8d8d8;
}

/* our works */

.works {
   background-color: #E9EDEF;
   padding: 95px 0 100px;
   margin-bottom: 84px;
}

.works__title {
   margin-bottom: 97px;
}


.filter {
   display: flex;
   width: 582px;
   margin: 0 auto;

}


.works__filter-list {

   margin-bottom: 70px;
}

.filter__title {
   border: 1px solid #DADADA;
   flex-grow: 1;
}
.filter__title a{
   color: #717171;
}

.filter__title:hover{
   border-top: 2px solid var(--accent-color-);
   border-bottom: 2px solid var(--accent-color-);
}



.filter__title--active {
   color: var(--accent-color-);
   border: 2px solid var(--accent-color-);
}

.filter__title--active a{
   color: var(--accent-color-);
}

.filter__title:nth-child(1) .filter__link {
   padding: 0 27px;
}

.filter__link {
   display: block;
   line-height: 58px;
   text-align: center;
   padding: 0 15px;

}

.works__content-list {
   display: grid;
   grid-template-columns: repeat(4, 290px);
   grid-auto-rows: 206px;
   margin-bottom: 70px;
}

.content__item {
   position: relative;
}

.content__item:hover .content-block {
   opacity: 1;
   transition: opacity .3s ease-in;
}

.content-block {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 290px;
   height: 206px;
   background-color: #E9EDEF;
   border-top: 2px solid var(--accent-color-);
   opacity: 0;
   transition: opacity .3s ease-in;
}

.content__item-img {
   width: 290px;
   height: 206px;
   object-fit: cover;
}

.content-block__links {
   display: flex;
   margin-bottom: 30px;
}

.content__item-link {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 1px solid var(--accent-color-);
   transition: .3s;
}

.content__item-link:hover {
   background-color: var(--accent-color-);
}

.content-block__source, .content-block__play {
   position: relative;
}

.content__item-link:hover svg {
   fill: #fff;
}

.content-block__source-img {
   position: absolute;
   top: 12px;
   left: 12px;
}

.content-block__play {
   margin-left: 4px;
}

.content__block__play-img {
   position: absolute;
   background-color: var(--accent-color-);
   top: calc(50% - 5px);
   left: calc(50% - 6px);
}

.content__item-title {
   line-height: 25px;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--accent-color-);
}

.content__item-subtitle {
   font-size: 12px;
   font-weight: 300;
   line-height: 20px;
   color: #8a8a8a;
}

.works__content-item.hide {
   display: none;
}

.works__btn-load {
   margin-left: calc(50% - 82px);
   position: relative;
}

.works__btn-load svg {
   position: absolute;
   top: 21px;
   left: 21px;
}

.works__btn-load span {
   margin-left: 25px;
   font-size: 14px;
}

.works__btn-load:hover svg {
   fill: var(--accent-color-);
}

.load-img img {
   display: block;
   margin: 0 auto 50px;
   animation: rotate 2s linear infinite;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.load-img.hide {
   display: none;
}

/* news */

.news {
   margin-bottom: 130px;
}

.news__list {
   display: grid;
   grid-template-columns: repeat(4, 263px);
   grid-auto-rows: 280px;
   column-gap: 36px;
   row-gap: 45px;
}

.news__item {
   position: relative;
}

.news__item:hover .news__item-date {
   background-color: var(--accent-color-);
   color: #fff;
}

.news__item:hover .news__item-title {
   color: var(--accent-color-);
}

.news__title {
   margin-bottom: 100px;
}

.news__item-title {
   font-size: 18px;
   font-weight: 700;
   color: #717171;
   line-height: 30px;
   padding-left: 16px;
   transition: .3s;
}

.news__item-sibtitle {
   color: #777777;
   font-weight: 300;
   padding-left: 16px;
}

.news__item-comments {
   margin-left: 30px;
   position: relative;
}

.news__item-comments::before {
   content: '';
   top: 3px;
   left: -16px;
   position: absolute;
   height: 13px;
   width: 1px;
   background-color: #777;
}

.news__item-date {
   position: absolute;
   top: 0;
   right: 0;
   width: 67px;
   height: 65px;
   background: #203E38;
   color: #fff;
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   transition: .3s;
}

/* comments */

.comments {
   width: 100%;
   padding: 100px 0;
   background: rgba(3, 35, 44, 0.2) url('../img/Sections background/section-3.jpg') no-repeat center;
   background-blend-mode: multiply;
}

.comments__block {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 1160px;
   overflow: hidden;
}

.comments__title {
   color: #fff;
   margin-bottom: 40px;
}

.comments__photos {
   display: flex;
   padding-top: 52px;
}

.comments__photos-item {
   cursor: pointer;
   transition: .4s;
}

.comments__photos-item+.comments__photos-item {
   margin-left: 27px;
}

.comments__photos-item.comments--active {
   transform: translateY(-10px);
}

.comments__photos-img {
   border: 5px solid rgba(31, 218, 181, 0.2);
   border-radius: 50%;
   display: block;
}

.comments__photo--sm {
   width: 70px;
   height: 70px;
   object-fit: cover;
   object-position: center;
}


.slider-line {
   width: 1160px;
   overflow: hidden;
   transform: translateX(0);
}

.comments__content {
   display: flex;
   justify-content: center;
   width: calc(1160px * 4);
   transition: .5s ease-in-out;
   position: relative;
   padding-top: 60px;
}

.comments__content-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1160px;
   justify-content: center;
   position: relative;
   padding-top: 60px;
}

.comments__content-item.comments--active {
   transform: translateX(0);
}

.comments__content-text {
   color: #bbb;
   line-height: 30px;
   font-weight: 300;
   margin-bottom: 22px;
   text-align: center;
}

.comments__content-item::before {
   content: "";
   position: absolute;
   top: 0;
   left: calc(50% - 24px);
   width: 45px;
   height: 31px;
   background: url('../img/Icons/comment-icon.svg') no-repeat;
}

.comments__content-name {
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   text-transform: uppercase;
   color: var(--accent-color-);
}

.comments__content-position {
   color: #bbb;
   margin-bottom: 30px;
}

.comments__content-photo {
   height: 162px;
   width: 162px;
   object-fit: cover;
   border-width: 10px;
}

.comments__btn {
   position: absolute;
   border: 1px solid #BBBBBB;
   background-color: transparent;
   width: 31px;
   height: 31px;
   cursor: pointer;
   transition: .3s;
}

.comments__btn svg {
   position: absolute;
   top: 8px;
   left: 10px;
}

.comments__btn:hover {
   background-color: var(--accent-color-);
}

.comments__btn:hover svg {
   fill: #fff;
}

.comments__btn--prev {
   bottom: 18px;
   left: 29%;
}

.comments__btn--next {
   bottom: 18px;
   right: 29%;
}

/* gallery */

.gallery {
   padding: 109px 0 67px;
}

.gallery__title {
   margin-bottom: 115px;
}

.gallery__block {
   margin-bottom: 40px;
   min-height: 921px;
}

.gallery__block img {
   position: relative;
}

.gallery__item {
   width: 378px;
   margin-bottom: 13px;
}

.slow-show {
   animation: showImg 2s ease-in;
}

@keyframes showImg {
   from {
      opacity: 0.5;
   }
   to {
      opacity: 1;
   }
}

.gallery__item:not(.gallery__small) img {
   width: 378px;
   height: auto;
   object-fit: cover;
   display: block;
}

.gallery__item-mid {
   height: 168px;
}

.gallery__item-sm {
   height: 92px;
}

.gallery__item-list {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 168px 92px 92px 92px;
   gap: 3px;
}

.gallery__item-list img {
   width: 100%;
   object-fit: cover;
}

.gallery__item-sm {
   grid-column: span 2;
   position: relative;
}

.gallery__item-mid {
   grid-column: span 3;
   position: relative;
}

.gallery__btn-load {
   margin-left: calc(50% - 82px);
   position: relative;
}

.gallery__btn-load svg {
   position: absolute;
   top: 21px;
   left: 21px;
}

.gallery__btn-load span {
   margin-left: 25px;
   font-size: 14px;
}

.gallery__btn-load:hover svg {
   fill: var(--accent-color-);
}

.img-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   transition: .3s;
}

.gallery__search-link, .gallery__fullscreen-link {
   position: absolute;
   top: calc(50% - 12px);
   display: block;
   width: 27px;
   height: 25px;
   background-color: #14B9D5;
   background-repeat: no-repeat;
}

.gallery__search-link:hover, .gallery__fullscreen-link:hover {
   background-color: var(--accent-color-);
}

.gallery__search-link {
   background-position: 50% 60%;
   background-image: url('../img/Icons/search.svg');
   left: 20px;
}

.gallery__fullscreen-link {
   background-position: 50% 50%;
   background-image: url('../img/Icons/fullscreen.svg');
   left: 66px;
}

.gallery__item:not(.gallery__small):hover .img-overlay, 
.gallery__item-list li:hover .img-overlay{
   opacity: 1;
}

.gallery__load-img img {
   display: block;
   margin: 0 auto 50px;
   animation: rotate 2s linear infinite;
}

.gallery__load-img.hide {
   display: none;
}

/* footer */

.footer {
   background: #22353F;
   padding: 45px 0;
}

.footer__text {
   line-height: 26px;
   color: #AEAEAE;
   text-align: center;
}

.footer__text span {
   color: var(--accent-color-);
}